Flask
Flask-SQLAlchemy
Flask-WTF>=1.2.1
Flask-Login>=0.5.0
Flask-Admin
Flask-Migrate
Flask-Bcrypt
Flask-CKEditor
Flask-CORS
Flask-Compress
Flask-Assets
WTForms
SQLAlchemy
Werkzeug<3.0
Jinja2
Pillow
python-dotenv
python-slugify
gunicorn
# psycopg2-binary==2.9.7
email-validator
requests
Flask-Mail
Flask-SocketIO
simple-websocket
stripe==9.4.0
aiortc
aiohttp
cryptography