{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">Product Management</h1>
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Seller</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.seller.username }}</td>
                <td>
                    <a href="#" class="button is-small is-info">View</a>
                    <a href="#" class="button is-small is-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}